<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <strong>Início</strong>
            </a>
            <a mat-list-item routerLink="/tabela">
                <strong>Tabelas</strong>
            </a>
            <a mat-list-item routerLink="/criar">
                <strong>Cadastrar</strong>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>