<mat-card>
    <table class="blood-table">
        <thead>
            <tr>
                <th>Tipo Sanguíneo</th>
                <th>Pode Doar Para</th>
                <th>Pode Receber De</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>A+</td>
                <td>AB+ e A+</td>
                <td>A+, A-, O+ e O-</td>
            </tr>
            <tr>
                <td>A-</td>
                <td>A+, A-, AB+ e AB-</td>
                <td>A- e O-</td>
            </tr>
            <tr>
                <td>B+</td>
                <td>B+ e AB+</td>
                <td>B+, B-, O+ e O-</td>
            </tr>
            <tr>
                <td>B-</td>
                <td>B+, B-, AB+ e AB-</td>
                <td>B- e O-</td>
            </tr>
            <tr>
                <td>AB+</td>
                <td>AB+</td>
                <td>A+, B+, O+, AB+, A-, B-, O- e AB-</td>
            </tr>
            <tr>
                <td>AB-</td>
                <td>AB+ e AB-</td>
                <td>A-, B-, O- e AB-</td>
            </tr>
            <tr>
                <td>O+</td>
                <td>A+, B+, O+ e AB+</td>
                <td>O+ e O-</td>
            </tr>
            <tr>
                <td>O-</td>
                <td>A+, B+, O+, AB+, A-, B-, O- e AB-</td>
                <td>O-</td>
            </tr>
        </tbody>
    </table>
</mat-card>