<ng-container *ngIf="candidatosPorEstado$ | async as dataSource">
    <table mat-table [dataSource]="candidatosPorEstado$" class="mat-elevation-z8">

        <!-- RR Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> id </th>
            <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
        </ng-container>
        <!-- RR Column -->
        <ng-container matColumnDef="RR">
            <th mat-header-cell *matHeaderCellDef> RR </th>
            <td mat-cell *matCellDef="let element"> {{ element.RR }} </td>
        </ng-container>

        <!-- RS Column -->
        <ng-container matColumnDef="RS">
            <th mat-header-cell *matHeaderCellDef> RS </th>
            <td mat-cell *matCellDef="let element"> {{ element.RS }} </td>
        </ng-container>

        <!-- PR Column -->
        <ng-container matColumnDef="PR">
            <th mat-header-cell *matHeaderCellDef> PR </th>
            <td mat-cell *matCellDef="let element"> {{ element.PR }} </td>
        </ng-container>

        <!-- DF Column -->
        <ng-container matColumnDef="DF">
            <th mat-header-cell *matHeaderCellDef> DF </th>
            <td mat-cell *matCellDef="let element"> {{ element.DF }} </td>
        </ng-container>

        <!-- SC Column -->
        <ng-container matColumnDef="SC">
            <th mat-header-cell *matHeaderCellDef> SC </th>
            <td mat-cell *matCellDef="let element"> {{ element.SC }} </td>
        </ng-container>

        <!-- SE Column -->
        <ng-container matColumnDef="SE">
            <th mat-header-cell *matHeaderCellDef> SE </th>
            <td mat-cell *matCellDef="let element"> {{ element.SE }} </td>
        </ng-container>

        <!-- MA Column -->
        <ng-container matColumnDef="MA">
            <th mat-header-cell *matHeaderCellDef> MA </th>
            <td mat-cell *matCellDef="let element"> {{ element.MA }} </td>
        </ng-container>

        <!-- MG Column -->
        <ng-container matColumnDef="MG">
            <th mat-header-cell *matHeaderCellDef> MG </th>
            <td mat-cell *matCellDef="let element"> {{ element.MG }} </td>
        </ng-container>

        <!-- SP Column -->
        <ng-container matColumnDef="SP">
            <th mat-header-cell *matHeaderCellDef> SP </th>
            <td mat-cell *matCellDef="let element"> {{ element.SP }} </td>
        </ng-container>

        <!-- AC Column -->
        <ng-container matColumnDef="AC">
            <th mat-header-cell *matHeaderCellDef> AC </th>
            <td mat-cell *matCellDef="let element"> {{ element.AC }} </td>
        </ng-container>

        <!-- CE Column -->
        <ng-container matColumnDef="CE">
            <th mat-header-cell *matHeaderCellDef> CE </th>
            <td mat-cell *matCellDef="let element"> {{ element.CE }} </td>
        </ng-container>

        <!-- MS Column -->
        <ng-container matColumnDef="MS">
            <th mat-header-cell *matHeaderCellDef> MS </th>
            <td mat-cell *matCellDef="let element"> {{ element.MS }} </td>
        </ng-container>

        <!-- MT Column -->
        <ng-container matColumnDef="MT">
            <th mat-header-cell *matHeaderCellDef> MT </th>
            <td mat-cell *matCellDef="let element"> {{ element.MT }} </td>
        </ng-container>

        <!-- GO Column -->
        <ng-container matColumnDef="GO">
            <th mat-header-cell *matHeaderCellDef> GO </th>
            <td mat-cell *matCellDef="let element"> {{ element.GO }} </td>
        </ng-container>

        <!-- AL Column -->
        <ng-container matColumnDef="AL">
            <th mat-header-cell *matHeaderCellDef> AL </th>
            <td mat-cell *matCellDef="let element"> {{ element.AL }} </td>
        </ng-container>

        <!-- AM Column -->
        <ng-container matColumnDef="AM">
            <th mat-header-cell *matHeaderCellDef> AM </th>
            <td mat-cell *matCellDef="let element"> {{ element.AM }} </td>
        </ng-container>

        <!-- ES Column -->
        <ng-container matColumnDef="ES">
            <th mat-header-cell *matHeaderCellDef> ES </th>
            <td mat-cell *matCellDef="let element"> {{ element.ES }} </td>
        </ng-container>

        <!-- AP Column -->
        <ng-container matColumnDef="AP">
            <th mat-header-cell *matHeaderCellDef> AP </th>
            <td mat-cell *matCellDef="let element"> {{ element.AP }} </td>
        </ng-container>

        <!-- PA Column -->
        <ng-container matColumnDef="PA">
            <th mat-header-cell *matHeaderCellDef> PA </th>
            <td mat-cell *matCellDef="let element"> {{ element.PA }} </td>
        </ng-container>

        <!-- PB Column -->
        <ng-container matColumnDef="PB">
            <th mat-header-cell *matHeaderCellDef> PB </th>
            <td mat-cell *matCellDef="let element"> {{ element.PB }} </td>
        </ng-container>

        <!-- PE Column -->
        <ng-container matColumnDef="PE">
            <th mat-header-cell *matHeaderCellDef> PE </th>
            <td mat-cell *matCellDef="let element"> {{ element.PE }} </td>
        </ng-container>

        <!-- RJ Column -->
        <ng-container matColumnDef="RJ">
            <th mat-header-cell *matHeaderCellDef> RJ </th>
            <td mat-cell *matCellDef="let element"> {{ element.RJ }} </td>
        </ng-container>

        <!-- PI Column -->
        <ng-container matColumnDef="PI">
            <th mat-header-cell *matHeaderCellDef> PI </th>
            <td mat-cell *matCellDef="let element"> {{ element.PI }} </td>
        </ng-container>

        <!-- TO Column -->
        <ng-container matColumnDef="TO">
            <th mat-header-cell *matHeaderCellDef> TO </th>
            <td mat-cell *matCellDef="let element"> {{ element.TO }} </td>
        </ng-container>

        <!-- RN Column -->
        <ng-container matColumnDef="RN">
            <th mat-header-cell *matHeaderCellDef> RN </th>
            <td mat-cell *matCellDef="let element"> {{ element.RN }} </td>
        </ng-container>

        <!-- RO Column -->
        <ng-container matColumnDef="RO">
            <th mat-header-cell *matHeaderCellDef> RO </th>
            <td mat-cell *matCellDef="let element"> {{ element.RO }} </td>
        </ng-container>

        <!-- BA Column -->
        <ng-container matColumnDef="BA">
            <th mat-header-cell *matHeaderCellDef> BA </th>
            <td mat-cell *matCellDef="let element"> {{ element.BA }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</ng-container>