<input type="file" (change)="onFileSelected($event)">

<!-- Seção para exibir as tabelas -->
<div *ngIf="pessoas.length > 0; else noData">
  <div *ngFor="let table of tables" class="mt-4">
    <!-- Tabela Angular Material -->
    <mat-table [dataSource]="pessoas">

      <!-- Definir colunas -->
      <ng-container *ngFor="let col of columns" [matColumnDef]="col">
        <mat-header-cell *matHeaderCellDef> {{ col }} </mat-header-cell>
        <mat-cell *matCellDef="let pessoa"> {{ pessoa[col] }} </mat-cell>
      </ng-container>

      <!-- Cabeçalho e Linhas -->
      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns"></mat-row>

    </mat-table>

    <!-- Paginador -->
    <mat-paginator [length]="totalElements" [pageSize]="20" [pageSizeOptions]="[10, 20, 50, 100]"
      (page)="fetchData($event)">
    </mat-paginator>
  </div>
</div>

<!-- Mensagem quando não há dados -->
<ng-template #noData>
  <p>Nenhum candidato encontrado.</p>
</ng-template>