.file-upload-form {
    text-align: end;
    margin: 20px;
  }
  
  .custom-file-upload {
    background-color: #007bff;
    color: #fff;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
  }
  
  .styled-input {
    display: none;
  }
  
  .submit-button {
    background-color: #28a745;
    color: #fff;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #1d8c36;
  }

.excluir-button {
    background-color: #ff5722; 
    color: white; 
    border: none;
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 4px; 
  }
  
  .excluir-button:hover {
    background-color: #f44336; 
  }
  