<input type="file" (change)="onFileSelected($event)">

<mat-paginator [length]="dataSource.length" [pageSize]="10" [pageSizeOptions]="[5, 10]">
</mat-paginator>
<mat-tab-group>
    <mat-tab label="First"> 
        <table>
          <tr>
            <th>Estado</th>
            <th>Quantidade de Candidatos</th>
          </tr>
        
          <tr *ngFor="let item of pagedItems">
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td> 
          </tr>
        </table>
    </mat-tab>
    
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>

</mat-tab-group>

