<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">
        Bem vindo ao Banco de Sangue!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema para exemplificar a construção de um Banco de sangue de alta qualidade
        <i class="material-icons">
            mood mood mood
        </i>
    </mat-card-subtitle>
</mat-card>



<input type="file" (change)="onFileSelected($event)">

<mat-paginator [length]="dataSource.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>


<mat-tab-group (selectedTabChange)="changeTab($event.index)">
    <mat-tab label="Candidados do Brasil">
      <table>
        <tr>
          <th>Estado</th>
          <th>Quantidade de Candidatos</th>
        </tr>
      
        <tr *ngFor="let item of dataSourceCandidatos">
          <td>{{ item[0] }}</td>
          <td>{{ item[1] }}</td> 
        </tr>
      </table>
    </mat-tab>
    
    <mat-tab label="Faixa de Idade">
      <table>
        <tr>
          <th>Estado</th>
          <th>Quantidade de Candidatos</th>
        </tr>
      
        <tr *ngFor="let item of dataSourceImcMedio">
          <td>{{ item[0] }}</td>
          <td>{{ item[1] }}</td> 
        </tr>
      </table>
    </mat-tab>
    
    <mat-tab label="Obesos por Genero">
      <table>
        <tr>
          <th>Estado</th>
          <th>Quantidade de Candidatos</th>
        </tr>
      
        <tr *ngFor="let item of ">
          <td>{{ item[0] }}</td>
          <td>{{ item[1] }}</td> 
        </tr>
      </table>
    </mat-tab>
    
    <mat-tab label="Média por Tipo Sanguineo">
      <table>
        <tr>
          <th>Estado</th>
          <th>Quantidade de Candidatos</th>
        </tr>
      
        <tr *ngFor="let item of dataSourceMediaIdade">
          <td>{{ item[0] }}</td>
          <td>{{ item[1] }}</td> 
        </tr>
      </table>
    </mat-tab>
    
    <mat-tab label="Possíveis Doadores">
      <table>
        <tr>
          <th>Estado</th>
          <th>Quantidade de Candidatos</th>
        </tr>
      
        <tr *ngFor="let item of dataSourceDoadores">
          <td>{{ item[0] }}</td>
          <td>{{ item[1] }}</td> 
        </tr>
      </table>
    </mat-tab>
  </mat-tab-group>
  