

<mat-paginator [length]="dataSource.length" [pageSize]="10" [pageSizeOptions]="[5, 10]">
</mat-paginator>
<mat-tab-group>
    <mat-tab label="Candidatos por Estado"> 
        <table>
          <tr>
            <th>Estado</th>
            <th>Quantidade de Candidatos</th>
          </tr>
          <tr *ngFor="let item of currentCandidatosPorEstado">
            <td>{{ item.key }}</td>
            <td>{{ item.value }}</td> 
          </tr>
        </table>
    </mat-tab>

    <mat-tab label="IMC Médio por Faixa Etária">
        <table>
          <tr>
            <th>Faixa Etária</th>
            <th>IMC Médio</th>
          </tr>
          <tr *ngFor="let item of currentImcMedioPorFaixaEtaria">
            <td>{{ item.key }}</td>
            <td>{{ item.value | number: '1.2-2' }}</td>
          </tr>
        </table>
    </mat-tab>

    <mat-tab label="Percentual de Obesos por Sexo">
        <table>
            <tr>
                <th>Sexo</th>
                <th>Percentual de Obesos</th>
            </tr>
            <tr>
                <td>Masculino</td>
                <td>{{ percentualObesosHomens | number: '1.2-2' }}%</td>
            </tr>
            <tr>
                <td>Feminino</td>
                <td>{{ percentualObesosMulheres | number: '1.2-2' }}%</td>
            </tr>
        </table>
    </mat-tab>

    <mat-tab label="Média de Idade por Tipo Sanguíneo">
        <table>
            <tr>
                <th>Tipo Sanguíneo</th>
                <th>Média de Idade</th>
            </tr>
            <tr *ngFor="let item of currentMediaIdadePorTipoSanguineo">
                <td>{{ item.key }}</td>
                <td>{{ item.value | number: '1.2-2' }}</td>
            </tr>
        </table>
    </mat-tab>

    <mat-tab label="Possíveis Doadores por Tipo Sanguíneo">
        <table>
            <tr>
                <th>Tipo Sanguíneo</th>
                <th>Possíveis Doadores</th>
            </tr>
            <tr *ngFor="let item of currentPossiveisDoadoresPorTipoSanguineo">
                <td>{{ item.key }}</td>
                <td>{{ item.value }}</td>
            </tr>
        </table>
    </mat-tab>

</mat-tab-group>
